@using AQ.Kelloggs.Resources
@{
    ViewBag.Title = @Resources.ReportGenerator;
    Layout = "~/Views/Shared/Master.cshtml";
}
<meta content="utf-8" http-equiv="encoding">
<script>
    document.write('<script src="../Scripts/Dashboard/Dashboard.js?version=' + version + '" type="text/javascript"></scr' + 'ipt>');
    document.write('<script src="../Scripts/ReportGenerator/ReportGenerator.js?version=' + version + '" type="text/javascript"></scr' + 'ipt>');
    document.write('<link href="../Content/Shared/LeftPanel.css?version=' + version + '" rel="stylesheet" type="text/css" />');
    document.write('<link href="../Content/ReportGenerator/ReportGenerator.css?version=' + version + '" rel="stylesheet" type="text/css" />');
</script>
<div class="view-container" ng-controller="ReportGenerator-Controller">
    <div>
        <div class="calloutArrow"></div>
        <div class="selectionButtonCallout">Click here to make selections</div>
    </div>

    <div class="leftpanelarea" ng-hide="leftMenuIsHidden"></div>
    @*bind left panel from partial start*@
    <div class="left-panel-load animate-hide" ng-hide="leftMenuIsHidden">
        @{Html.RenderPartial("LeftPanel");}
    </div>
    <div class="view-load" ng-click="hideLeftPanel()">
        <div class="outputContainer">
            @*<div class="rIcon reportIcon"></div>*@
        </div>
    </div>
</div>


