
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAccess</title>
    @Styles.Render("~/Content/landing")
</head>
<body style="background-image: url(../../Content/Images/Kelloggs_Login_Landing.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;">
    <div class="rowdiv" style="z-index:9;">


        <div class="right-head-div">
            <div class="setting-img" title="Setting">
            </div>
        </div>
    </div>
    <div class="nav-side-menu">
        <div class="brand">
            <br /><br /><br /><br /><br />
            <h2>
                You do not have access to the requested page.<br />
            </h2>
            <p>Kindly contact Administrator.</p>
            </div>

            

        </div>
    <div>
        

    </div>
</body>
</html>
